{% load staticfiles %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>
            EXAMEN
        </title>
        <meta charset="UTF=8"/>
        <META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link href="{% static 'css/csstarea.css' %}" type="text/css" rel="stylesheet"/>
            <link href="{% static 'css/flexboxgrid.css' %}" type="text/css" >
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src = "{% static 'JavaScript/funciones.js' %}"> </script>    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    </head>
    <body margin ="0%">



    <nav>
    </header>
      {% if request.user.is_authenticated %}
      {% if user.is_staff %}
      <ul class="nav"></ul>
        <h3>Usted esta logeado como {{ user.username }}</h1>    
            <a href="{% url 'sign_out' %}">Cerrar sesión</a>
        </ul>
                <div class ="row">
                 <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                </div>
                <ul class="nav">
                     <div class="col-xs-12 col-sm-8 col-md-6">
                         <li><a><font color="white">INICIO</font></a></li>
                         <li><a href="{% url 'sign_up' %}"><font color="white">REGISTRAR TECNICO</font>   </a></li>
                         <li><a href="{% url 'cliente' %}"><font color="white">CREAR CLIENTE</font> </a></li>
                         <li><a href="{% url 'ligar' %}"><font color="white">Asignar Cliente</font> </a></li>

                        </div>
                 </div>
                </ul>
            </header>
         {% else %}
         ayuda
         <a href="{% url 'sign_out' %}">Cerrar sesión</a>
        {% endif %}
    {% else %}
    <a href="{% url 'sign_in' %}">Iniciar sesión</a>

    {% endif %}

        </body>
    