{% load static %}
<!DOCTYPE HTML>
<html>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Iniciar Sesión</title>
                <!-- JQUERY -->
                <script src="https://ajax.googlepis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <!-- FRAMEWORK BOOTSTRAP -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                <!-- ICONOS SOLID -->
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
                <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
                <!-- CSS PROPIO -->
                <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
            </head>
            <div class="modal-dialog text-center">
                    <div class="col-sm-8 main-section">
                        <div class="modal-content">
                            <div class="col-12 user-img">
                                <img src="{% static 'img/avatar.png' %}" alt="avatar">
                            </div>
                            <form class="col-12" method="post">
    {% block content %}
        <div class="contenedor-form">
                <div class="contenedor-form">
                    <h2>Iniciar Sesión</h2>
                    <form action="#" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" name="submit">       
                    </form>
                </div>
                <div class="reset-password">
                </div>
                <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>        </div>
    {% endblock content %}
</center>
</body>
</html>

