{% load static %}
{% if user.is_authenticated %}
{% if user.is_staff %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>
            ADMINISTRADOR
        </title>
       
        <META name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link href="{% static 'css/csstarea.css' %}" type="text/css" rel="stylesheet"/>
            <script src = "{% static 'JavaScript/funciones.js' %}"> </script>    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    </head>
    <body margin ="0%"> 
    </head>

    <nav>
    <head>
        <ul class="nav"></ul>
        <h3>Usted esta logeado como {{ user.username }}</h1>    
            <a href="{% url 'sign_out' %}">Cerrar sesión</a>
        </ul>
                <div class ="row">
                 <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                </div>
                <ul class="nav">
                     <div class="col-xs-12 col-sm-8 col-md-6">
                        <li><a href="{% url 'indesssx' %}"><font color="white">INICIO</font></a></li>
                        <li><a href="{% url 'sign_up' %}"><font color="white">REGISTRAR TECNICO</font>   </a></li>
                         <li><a href="{% url 'cliente' %}"><font color="white">CREAR CLIENTE</font> </a></li>
                         <li><a href="{% url 'ligar' %}"><font color="white">Asignar Cliente</font> </a></li>

                        </div>
                 </div>
                </ul>
          
            </head>
<header>
            <body>
        <center>
    {% block content %}
   
                <h2>Registrar Tecnico</h2>
                <form action="" method="POST"> 

                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="submit">   
                        {% csrf_token %}  
                 
                </form>
            
            </div>
    {% endblock content %}
</center>
</header></body>
</html>
{% endif %}
{% endif %}
